:root {
    --border-size: 1px;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: black;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 4px;
}

.dieButtons {
    margin: 15px;
}

.initParent {
    margin: 15px;
    align-content: center;
}

.overlayL {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 30%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    background-color: #333333; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.initList {
    border-radius: 25px;
    list-style: none;
    color: #41403E;
    font-size: 24px;
}

.highlight {
    border-radius: 25px;
    background-color: whitesmoke;
    color: #41403E;
    outline-color: whitesmoke;
}

.character-form {
    border-radius: 25px;
    color: #41403E;
    font-size: 24px;
    outline-color: black;
    align-content: center;
}

* {
    box-sizing: border-box;
    color: #41403E;
}

.roundText {
    border-radius: 25px;
    text-align: center;
    color: #41403E;
}



