.overlayL {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 30%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    background-color: #333333; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden; /* Disable vertical scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.initList {
    list-style: none;
    color: whitesmoke;
    font-size: 24px;
}

.highlight {
    background-color: whitesmoke;
    color: black;
    outline-color: whitesmoke;
}
